html{
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.a navbar-brand{
  color: rgb(2, 2, 73);
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: dashed;
}

